.splashNav{
    display: flex;
    background-image: url("https://purewows3.imgix.net/images/articles/2020_04/blue_apron_meal_kit.png");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    

    &__container{
        display: flex;
        max-width: 1200px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        p{
            color: #406e8e;
            font-size: 65px;
            font-weight: 800;
            text-transform: uppercase;
        }

        input{
            font-size: 20px;
            width: 300px;
            text-align: center;
            border-radius: 25px;
            border-style: solid ;
            padding: 10px;
        }
    
    }

    

}