body{
  margin: 0;
}

.App{
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 3.7rem;
  /* font-family: */
}

.content-wrap{
 margin: 0 20px;
  /* position: absolute; */
  padding-bottom: 2.5rem;
}

